{% extends "DatamartMappingsBundle::layout.html.twig" %}

{% block datamartmappings_body %}
    <div>
        {% for message in app.session.flashbag.get('notice') %}
            <p>Message flash : {{ message }}</p>
        {% endfor %}
    </div>
    <h2 class="col-md-8">Liste des mappings Source</h2>
    <a href="{{ path('datamart_mappings_source_add') }}"  class="btn btn-default float-right">
        <i class="glyphicon glyphicon-edit"></i>
        Ajouter un mapping Source
    </a>
    <div class="col-md-12">
        {% if pagination.pages_count > 0 %}
        <table class="table table-bordered table-striped">
            <thead>
            <tr>
                <th>#</th>
                <th>Champ PMS</th>
                <th>Champ Mappé</th>
                <th>Modifier</th>
                <th>Supprimer</th>
            </tr>
            </thead>
            <tbody>
            {% for sourceMapping in sourceMappingsList %}
                <tr>
                    <th scope="row">{{ sourceMapping.id }}</th>
                    <td>{{ sourceMapping.originalField }}</td>
                    <td>{{ sourceMapping.mappedField }}</td>
                    <td><a href="{{ path('datamart_mappings_source_edit', {'id': sourceMapping.id}) }}"><i class="glyphicon glyphicon-cog"></i></a></td>
                    <td><a href="{{ path('datamart_mappings_source_delete', {'id': sourceMapping.id}) }}"><i class="glyphicon glyphicon-trash"></i></a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
            {% include "DatamartCoreBundle::pagination.html.twig" %}
        {% else %}
            <p>Aucun mapping Source</p>
        {% endif %}
    </div>
{% endblock %}