{% extends "DatamartMappingsBundle::layout.html.twig" %}

{% block title %}
    Supprimer un Rate Category - {{ parent() }}
{% endblock %}

{% block datamartmappings_body %}

    <h2>Supprimer un Rate Category</h2>

    <p>
        Etes-vous certain de vouloir supprimer le Rate Category "{{ ratecategory.originalField }}" ?
    </p>

    <form action="{{ path('datamart_mappings_ratecategory_delete', {'id': ratecategory.id}) }}" method="post">
    <input type="submit" value="Supprimer" class="btn btn-danger" />
    {{ form_end(form) }}
    <br/>
    <p>
        <a href="{{ path('datamart_mappings_ratecategory') }}" class="btn btn-default">
            <i class="glyphicon glyphicon-chevron-left"></i>
            Retour à la liste de Rate Categories
        </a>
    </p>
{% endblock %}